<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>从业人员安全培训档案</title>

  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="bookmark" href="favicon.ico" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/bmob-2.2.5.min.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>
</head>

<body>
  <div id="main" class="container">
    <div class="row clearfix">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">从业人员安全培训档案</h3>
        </div>
        <div class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">身份证号码:</span>
            <input type="text" class="form-control" :readonly="objid != ''" maxlength="18" minlength="18" v-model="code"
              placeholder="请输入身份证号码">
            <span class="input-group-btn">
              <button class="btn btn-info" :disabled="objid != ''" @click="query()" type="button">查询</button>
            </span>
          </div>
        </div>
        <div v-if="objid != ''" id="info" class="panel-body">
          <div class="input-group">
            <span class="input-group-addon">姓名:</span>
            <input type="text" class="form-control" readonly="readonly" placeholder="请输入姓名" v-model="name">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">性别 <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li v-for="value in selList"><a @click="function(){sex=value}" href="#">{{value}}</a></li>
              </ul>
            </div>
            <input type="text" class="form-control" readonly="readonly" placeholder="请输入性别" v-model="sex">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">民族:<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li v-for="value in nationList"><a @click="function(){nation=value}" href="#">{{value}}</a></li>
              </ul>
            </div>
            <input type="text" class="form-control" readonly="readonly" placeholder="请选择民族" v-model="nation">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">政治面貌:<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li v-for="value in politicList"><a @click="function(){politic=value}" href="#">{{value}}</a></li>
              </ul>
            </div>
            <input type="text" class="form-control" readonly="readonly" placeholder="请选择政治面貌" v-model="politic">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">文化程度:<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li v-for="value in educationList"><a @click="function(){education=value}" href="#">{{value}}</a>
                </li>
              </ul>
            </div>
            <input type="text" class="form-control" readonly="readonly" placeholder="请选择文化程度" v-model="education">
          </div>
          <br>
          <div v-if="education == '专科' || education == '本科'" id="collegeInfo">
            <div class="input-group">
              <span class="input-group-addon">毕业院校:</span>
              <input type="text" class="form-control" placeholder="请输入毕业院校" v-model="college">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon">所学专业:</span>
              <input type="text" class="form-control" placeholder="请输入所学专业" v-model="specialitie">
            </div>
            <br>
          </div>
          <div class="input-group">
            <span class="input-group-addon">参加工作时间:</span>
            <input type="date" class="form-control" placeholder="请输入参加工作时间" v-model="participation">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">进保卫部时间:</span>
            <input type="date" class="form-control" placeholder="请输入进入本单位时间" v-model="into">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">入职所在部门:</span>
            <input type="text" class="form-control" placeholder="例: 保卫部" v-model="department">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">主要工作经历:</span>
            <textarea rows="8" class="form-control" placeholder="从开始工作至今的经历&#10;例: 2015.04至今 唐钢保卫部"
              v-model="experience"></textarea>
          </div>
          <br>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" @click="update()" class="btn btn-success">确认并提交</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    new Vue({
      el: "#main",
      data: {
        selList: ["男", "女"],
        nationList: ["汉族", "壮族", "满族", "回族", "苗族", "维吾尔族", "土家族", "彝族", "蒙古族", "藏族", "布依族", "侗族", "瑶族", "朝鲜族", "白族",
          "哈尼族", "哈萨克族", "黎族", "傣族", "畲族", "僳僳族", "仡佬族", "东乡族", "拉祜族", "水族", "佤族", "纳西族", "羌族", "土族", "仫佬族",
          "锡伯族", "柯尔克孜族", "达翰尔族", "景颇族", "毛南族", "撒拉族", "布朗族", "塔吉克族", "阿昌族", "普米族", "鄂温克族", "怒族", "京族", "基诺族",
          "德昂族", "保安族", "俄罗斯族", "裕固族", "乌孜别克族", "门巴族", "鄂伦春族", "独龙族", "塔塔尔族", "赫哲族", "高山族", "珞巴族"
        ],
        politicList: ["党员", "团员", "群众"],
        educationList: ["小学", "初中", "中专", "高中", "专科", "本科"],
        code: "", //身份证号
        objid: "", //对象编号
        name: "", //姓名
        sex: "", //性别
        nation: "", //民族
        politic: "", //政治面貌
        education: "", //学历
        college: "", //毕业学校
        specialitie: "", //所学专业
        participation: "", //工作时间
        into: "", //入厂时间
        department: "", //入职部门
        experience: "" //工作经历
      },
      methods: {
        query: function () {
          Bmob.initialize("a8ed8f0519ef553d", "^oEQjE");
          const query = Bmob.Query('anda');
          query.equalTo("code", "==", this.code);
          query.find().then(res => {
            if (res !== undefined) {
              this.objid = res[0].objectId;
              this.code = res[0].code;
              this.name = res[0].name;
              this.sex = res[0].sex;
              this.nation = res[0].nation;
              this.politic = res[0].politic;
              this.education = res[0].education;
              this.college = res[0].college;
              this.specialitie = res[0].specialitie;
              this.participation = res[0].participation;
              this.into = res[0].into;
              this.department = res[0].department;
              this.experience = res[0].experience;
            } else {
              alert("身份证号码错误!");
              return;
            }
          });
        },
        update: function () {
          Bmob.initialize("a8ed8f0519ef553d", "^oEQjE");
          const query = Bmob.Query('anda');
          query.get(this.objid).then(res => {
            res.set('code', this.code);
            res.set('name', this.name);
            res.set('sex', this.sex);
            res.set('nation', this.nation);
            res.set('politic', this.politic);
            res.set('education', this.education);
            res.set('college', this.college);
            res.set('specialitie', this.specialitie);
            res.set('participation', this.participation);
            res.set('into', this.into);
            res.set('department', this.department);
            res.set('experience', this.experience);
            res.save();
          }).catch(err => {
            console.log(err);
            alert("信息修改失败!!!");
            return;
          })
          alert("更新成功!");
          return;
        },
        dataFormat: function (d, fmt) {
          var date = new Date(d.toString().replace(/-/g, '/'));
          var o = {
            "M+": date.getMonth() + 1, //月份 
            "d+": date.getDate(), //日 
            "h+": date.getHours(), //小时 
            "m+": date.getMinutes(), //分 
            "s+": date.getSeconds(), //秒 
            "q+": Math.floor((date.getMonth() + 3) / 3), //季度 
            "S": date.getMilliseconds() //毫秒 
          };
          if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
          }
          for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
              fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k])
                .length)));
            }
          }
          return fmt;
        }
      }
    })
  </script>
</body>

</html>